@charset "UTF-8";

.header{
	width: 100%;
	background-color: #388bff;
	position: fixed;
}
.menu{
	width: 1100px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.logo{
	margin-top: 30px;
	font-size: 24px;
	font-weight: bold;
}
.logo a{
	color: #f2ff7b;
}
.nav{
	list-style: none;
	overflow: hidden;
}
.nav ul{
	display: flex;
	justify-content: space-between;
}
.nav li{
	padding: 30px;
}
.nav a{
	color: #ffffff;
}
.header li a{
	text-decoration: none;
}