@charset "UTF-8";

/* カード内の画像は以下のURLを使用して下さい */
/* https://picsum.photos/id/1005/200/300 */
.q9green{
	width: 200px;
	height: 200px;
	background-color: #76ff826b;
	margin: auto;
}
@keyframes fadeIn{
	0%{
			opacity: 0;
	}
	100%{
			opacity: 1;
	}
}
.gbox1{
	animation: fadeIn 4s ease 0s 1 normal;
}

@keyframes fadeOut{
	100%{
			opacity: 0;
	}
	0%{
			opacity: 1;
	}
}
.gbox2{
	animation-name: fadeOut 4s ease 0s 1 normal
}

@keyframes rotate{
	0%{
			transform: rotate(0deg);
	}
	100%{
			transform: rotate(360deg);
	}
}
.gbox3{
	animation: rotate 4s infinite linear;
}

.q9blue{
	width: 200px;
	height: 200px;
	background-color: #331aefd0;
	margin: auto;
	transition: 0.5s;
}

.bbox1:hover{
	background-color: #ff27e2c9;
}

.bbox2:hover{
	transform: rotate(360deg);
}

.bbox3:hover{
	transform: translate(0,-20%);
}

.bbox4:hover{
	transform: translate(20%,0);
}

.bbox5:hover{
	height: 300px;
}

.bbox6:hover{
	width: 500px;
}

.bbox7{
	box-sizing: border-box;
}
.bbox7:hover{
	border: 10px #00ffe5 solid;
}

.bbox8:hover{
	box-shadow: 8px 11px 10px 3px #06031ed0;
}

.green_border{
	width: 50px;
	height: 50px;
	margin: auto;
	border-radius: 50%;
	border: solid 10px #ecf1f2;
	border-bottom: solid 10px #14ff4bcd;
	animation: rotate 1.1s infinite linear;
}

.check--sample ul{
	display: flex;
	justify-content: center;
}
.check--sample li{
	width: 300px;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-right: 0;
	transition: 0.5s;
}
.check--sample li:last-child{
	border-right: 1px solid #000000;
}
.check--sample li:hover{
	box-shadow: 0px 0px 10px 3px #424242d0;
	z-index: 1;
}
.check--sample p{
	margin-top: 20px;
}
.staff_image{
	background: url(https://picsum.photos/id/1005/200/300) no-repeat center/cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
}