@charset "UTF-8";
.text{
  width: 500px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  display: inline-block;
  background-color: #fad296;
  border: solid 5px #8f5a0a;
  border-radius: 20px;
}

.text::before , .text::after{
  content: '';
  position: absolute;
  left: 40px;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  display: block;
}
.text::before{
  bottom: -23px;
  border-color: #fad296 transparent;
  z-index: 2;
}
.text::after{
  bottom: -30px;
  border-color: #8f5a0a transparent;
  z-index: 1;
}